body{
  width: 80%;
  margin: 0 auto;
  font-family: 'Libre Franklin', sans-serif;
  font-weight: 300;
}

header{
  height: 100px;
}

.logo{
  height:100%;
}

.title_texts{
  float:right;
  text-align: right;
}

.title,.name{
  margin:0;
}

.projects_header, .title,.name,.project_name{
  font-weight: inherit;
}
.name{
  font-size: 50px;
}

.projects_header{
  font-size: 20px;
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 20px;
}

.project_img{
  width: 100%;
}

.img_code{
  height: 35vW;
}
.col-4,.col-12{
  padding:0;
}

.project{
  text-align: center;
}

@media (max-width: 1300px)
{
  .project_link {
    font-size:0;
    }

  .project_link:after {
    content: 'LINK';
    font-size:16px;         /* original font size */
  }
}
